.brand-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.login-btn{
    background-color: #562EFF;
    color: white;
    padding: 5px 30px;
}

.signup-btn{
    background-color: transparent;
    color: black;
    padding: 5px 30px;
    border-radius: 0%;
    border: 1px solid #000;
}

.dropdown{
    color: black;
}

.active-link{
    color: #562EFF;
    font-weight: bold;
}